[core]
	editor = vim
[user]
	name = Cory Krug
	email = cory.krug@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
[alias]
	ci = commit
	st = status
	co = checkout
	ap = add -p
	b = branch
	am = commit --amend
